.menu-container.is-open {
    transform: translateX(0);
}
.menu-container {
    background-color: #fff;
    font-family: $fontPrimary;
    position: fixed;
    inset: 0;
    padding: 48px 0 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(100%);
    transition: transform 250ms ease;
    &__close-btn {
        position: absolute;
        background-color: transparent;
        border: none;
        top: 21px;
        right: 21px;
    }
    &__icon-btn {
        fill: $brandColor;
    }
    &__address-menu {
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    &__phone {
            font-weight: 500;
            font-style:normal;
            color: $themeColor;
            font-size: 34px;
            line-height: 1.17;
            letter-spacing: 0.02em;
        }
    &__e-mail {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 1,16;
            letter-spacing: 0.02em;
            color: $pharagraphColor;
        }
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        gap: 32px;
    &__link {
        color: $brandColor;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        &:hover,
        &:focus{
            color: $themeColor ;
        }
    }
}
.social-menu {
    display: flex;
    margin-top: 64px;
    &__media {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        padding: 0 10px;
        color: $themeColor;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        transform: rotate(90deg);
    &--Instagram {
        padding-left: 0;
    }
    &--Linkedin {
        border-right: none;
    }
}
}