$darkColor: #131313;
$whiteColor: #FCFCFC;
$yellowColor: #F8D24E;
$headerBackground: #84A178;
$mobileMenu: #85A279;   
$blackColor: #000000;
$fontFirst:'Montserrat', sans-serif;
$fontSecond: 'Seymour One', sans-serif;